@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #24523a;
    --secondary-color: #4ff6ff;
    --accent1-color: linear-gradient(#4ff6ff9f, #40cfdf9f, #0e4ff590);
    --accent2-color:  #0E850B;

    --heading-font: 'Montserrat', sans serif;
    --paragraph-font: 'Montserrat', sans serif;

    --nav-background-color: #24523A;
    --nav-link-color: #4ff6ff;
    --nav-hover-link-color: #0e4ff5;
    --nav-hover-background-color: #0e850b;
}

body {
    background: var(--accent1-color) fixed;
    background-repeat: no-repeat;
    max-width: 960px;
    font-family: var(--paragraph-font);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    color: var(--primary-color);
    text-align: left;
    margin-left: 1rem;
}

header {
    border-bottom: var(--nav-hover-link-color) solid 1px;
    margin: 1rem auto;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 3fr; 
}

.navigation {
    background: var(--nav-background-color);
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 640px;

}

.navigation a {
    display: block;
    color: var(--nav-link-color);
    padding: 15px;
}

.navigation a:link, nav a:visited { 
    color: var(--nav-link-color);
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color)
}

.logo {
    width: 150px;
    height: auto;
} 

.hero {
    position: relative;
    margin: auto;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
	top: 10%;
	left: 30%;
	background: radial-gradient(#40CEDF44, #4ff6ff44);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
    text-align: center;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 10%;
    right: 10%;
	background: radial-gradient(#40CEDFcc, #4ff6ffcc);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
    font-weight: 500;
}

#happy {
    float: right;
    width: 7rem;
    height: auto
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.history h2 {
    grid-column: 1/4;
    text-align: center;
}

.history img {
    height: auto;
    width: 100%;
    border: 3px solid var(--primary-color);
    text-align: center;
}

.history p {
    text-align: center;
    vertical-align: middle;
}

.adventure {
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.adventure h2 {
    width: 100%;
    text-align: center;
}

figure {
    justify-content: space-between;
}

.adventure img {
    width: 80px;
    height: auto;
}

figcaption {
    text-wrap: wrap;
    width: 80px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

footer p {
    color: var(--primary-color);
    text-align: center;
}

footer img {
    width: 2rem;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}